body{
  background-image: url("../../images/BackgroundImage.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
  --primary: rgb(31, 128, 131);
  --secondary: rgb(242, 245, 172);
  --tertiary: whitesmoke;
}

/* This helps keep the footer at the bottom of the view */
.is-fullheight-100vh {
  height: 100vh;
}

.header-text {
  color: var(--secondary);
}

#footer {
  background-color: var(--secondary);
}
/* playlists */
#spotify-columns div {
  background-color: var(--primary);
  color: var(--tertiary);
}

/* city submit button */
/* populated buttons are created in js in AppendCity()
and use --secondary as the background. */
#city-submit {
  background-color: var(--primary);
  color: var(--secondary);
}

/* The large boxes */
.box {
  background-color: white;
}

/* Makes word "Great" stand out in hero */
p span {
  font-weight: bold;
}
